*
{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body
{
  background: white;
}
header
{
	
	background: black;
	color: #eee;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 15vh;
	font-size: 2vh;
	font-family: 'Poppins', sans-serif;
	
}
form
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 15vh;
	font-size: 0.8vh;
}
#todo-in
{
	margin: 3%;
	height: 4vh;
	width: 65%;
	border: 0.5px solid black;
	box-shadow: 2px 2px 2px black;
	padding: 1%;
	font-size: 2vh;
}
#add-btn
{
		height: 4vh;
		width: 4vh;
		background: none;
		/*outline: none;*/
		border: 1px;
		display: flex;
		justify-content: center;
transform: scale(1.4,1.4);
   
}

.fa-plus-square
{
	font-size: 3.2vh;
}
#add-btn:hover
{
  
  color:#2b6c00;
  transform: scale(1.6,1.6);
}
.container
{

	width: 80%;
	margin-left: 12%;
  margin-right: 8%;
}
/*#pa
{
	border: 0.5px solid black;
	height: 10vh;
	color: black;
  
}*/
.tododiv
{
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background:#f5f3c8;
height: 4vh;
margin-bottom: 0.5vh;
padding-left: 2vh;
transition: all 0.4s ease;

}
.ulist
{
  list-style: none;
  width: 100%;
 font-family: 'Poppins', sans-serif;
}
.newtodo
{

  display: flex;
  align-items: center;
  width: 80%;
  font-size: 2vh;
  left: 2vh;
}
.checksq
{
  
  background: green;
  outline: none;
  border: none;
  color: white;
  width: 4vh;
  height: 4vh;
  font-size: 1.5vh;
  padding-right: 1vh;
  padding: 0.1vh;
}
.delete
{
  
   
  
  background: red;
  outline: none;
  border: none;
  color: white;
  width: 4vh;
  height: 4vh;
  font-size: 1.5vh;
  padding-right: 1vh;
  padding: 0.1vh;
}
.delete:hover
{
  
  cursor: pointer;
  transform: scale(1.1,1.1);
}

.checksq:hover
{
  transform: scale(1.1,1.1);
  cursor: pointer;
}
.fa-trash, .fa-check{
  pointer-events: none;
}
.checked
{
  text-decoration: line-through;
  opacity: 0.5;
}
.slide
{
  transform: translateX(8rem);
  opacity: 0;
  transition-duration: 0.7s;
}

