*
{
	margin: 0px;
	padding: 0px;
}
body
{
	background: black;
}
.grid
{
	min-height: 100vh;
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: repeat(4,100px);
	grid-template-rows: minmax(120px,auto) repeat(5,100px);
}
.disp
{
	padding: 10px;
	display: grid;
	grid-column: 1/-1;
	background: rgb(0,0,0,0.8);
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	justify-content: space-around;
	
}
.prev
{
	color:rgba(255,255,255,0.7);
	font-size:30px;
}
.current
{
	color:rgba(255,255,255,0.9);
	font-size:50px;
}

button
{
		font-size: 1.6em;
		color: white;
		background: black;
		outline: none;
		border: 2px solid black;
}
button:active
{
		border-radius: 50%;
		background:rgb(255,255,255,0.1);
}
.sym
{
		color: #ff8500;
}
