*
{
border-position: box-sizing;
}

body
{
	background: #ffffff;;
	margin: 20px;
}
#page
{
font-family: 'Pacifico', cursive;
font-weight: 100;
}
h1
{
	margin-top:0;
	font-family: 'Roboto Slab', serif;
	float: left;
	font-size: 30 em;
}
.nav ul
{
	font-family: 'Roboto', sans-serif;
	float: left;
	position: relative;
}
.nav li
{	
	font-size: 15px;
	display: inline;

}
.nav a
{
		color:#666666;
		text-decoration: none;
		padding: 8px;
		display: inline-block;
}
#head_button
{
	
	position: relative;
	font-size: 15px;
	top:15px;
	left:20px;
	width: 150px;
	height: 25px;
	background-color: black;
	color: white;
	font-family: 'Roboto', sans-serif;
	border-radius: 2px;
	display: flex;
	flex: space-around;
	justify-content: center;
	align-items: center;
}
.container
{
	font-family: 'Roboto', sans-serif;
}
.art1
{
	position: absolute;
	left: 70px;
	top: 220px;
	width: 400px;
	margin-right: 0px;
}

.art3
{
	position: absolute;
	left: 150px;
	top:600px;
	width: 600px;
	text-align: center;
}
.art3_1
{
	margin-top:0;
	transform: scale(1,0.9);
	line-height: 25px;
}
h2
{
	font-size:2.5em;
	transform: scale(1,0.9);
	margin-bottom: 10px;
}
#he_2
{
	font-weight: 300;
}
#a1
{
	margin-top:0;
	transform: scale(1,0.9);
	line-height: 25px;
	margin-bottom: 40px;
}
#button
{
	transform: scale (1,0.5);
	position: relative;
	width: 130px;
	height: 20px;
	background-color: #6173f1;
	color: white;
	text-decoration: none;
	padding: 8px;
	display: flex;
	justify-content: center;
}
#di
{
	position: absolute;
	top: 290px;
	color: rgba(9,9,9,0.6);
	font-style: italic;
	font-size: 0.65em;
}
#art2
{
	position: absolute;
	right: 0px;
	top: 80px;
}
